* {
    margin: 0%;
    box-sizing: border-box;
    transition: all .3s linear;
}

h1 {
    text-align: center;
    margin: 1rem;

}

.container {
    text-align: center;
    margin-top: 1rem;
}

input {
    display: block;
    width: 50%;
    outline: none;
    text-align: center;
    margin: 2rem auto;
    padding: .8rem 1rem;
}

input::placeholder {
    font-weight: 600;
}
.cash-amount{
    visibility:hidden;
    transition: all .3s ease-in-out;
}
.btn-sec{
    text-align: center;
}
.btn{
    outline: none;
    padding: .5rem 1rem;
    margin-bottom: 2rem;;
}
.alert-text{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}

.notes {
    max-width: 50%;
    margin-bottom: .5rem;
    margin: 1rem auto;
    border: 1px solid black;
    padding: .4rem;
}