:root{
    --pri-color:#ff03d6;
}
* {
    margin: 0%;
    box-sizing: border-box;
    transition: all .1s linear;
}
body{
    background-color: #030d16;
    color: white;
}
h1 {
    color: var(--pri-color);
    text-align: center;
    margin: 1rem;

}

.container {
    text-align: center;
    margin-top: 1rem;
}
.intro-text{
    display: block;
    text-align: center;
    max-width: 80vw;
    margin: auto;
    margin-top: 2rem;
    color: var(--pri-color);
}

input {
    border: 1px solid var(--pri-color);
    border-radius: 10px;
    display: block;
    width: 50%;
    outline: none;
    text-align: center;
    margin: 2rem auto;
    padding: .8rem 1rem;
    background-color: inherit;
    color: #ff03d6;
    font-weight: bolder;
}
input:focus{
    border-color: green;
}
input::placeholder {
    color: var(--pri-color);
}
.cash-amount{
    visibility:hidden;
    transition: all .3s ease-in-out;
}
.btn{
    cursor: pointer;
    border: 1px solid var(--pri-color);
    border-radius: 10px;
    display: block;
    outline: none;
    padding: .5rem 1.2rem;
    margin: auto;
    margin-bottom: 2rem;
    font-weight: bolder;
    background-color: inherit;
    color: var(--pri-color);
}
.btn:hover{
    border-color: green;
    color: green;
}
.alert-text{
    background-color: inherit;
    max-width: 80%;
    color: aqua;
    margin: auto;
    text-align: center;
    padding: .5rem;
    height: 2rem;
    border-radius: 10px;
}
.flex-container{
    visibility: hidden;
    height: 20vh;
    display: flex;
    margin: auto;
    max-width: 80%;
    justify-content: center;
    flex-wrap: wrap;
}

.notes {
    text-align: center;
    color: var(--pri-color);
    width: 9rem;
    font-size: large;
    max-width: 50%;
    margin-bottom: .5rem;
    margin: 1rem;
    border: 1px solid var(--pri-color);
    border-radius: 5px;
    padding: .4rem;
}